@model IEnumerable<Nhom15.Models.TinTuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/wwwroot/Client/js/jquery.min.js"></script>
    <script src="~/wwwroot/Client/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/wwwroot/Client/js/popper.min.js"></script>
    <script src="~/wwwroot/Client/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/Client/js/jquery.easing.1.3.js"></script>
    <script src="~/wwwroot/Client/js/jquery.waypoints.min.js"></script>
    <script src="~/wwwroot/Client/js/jquery.stellar.min.js"></script>
    <script src="~/wwwroot/Client/js/owl.carousel.min.js"></script>
    <script src="~/wwwroot/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/wwwroot/Client/js/aos.js"></script>
    <script src="~/wwwroot/Client/js/jquery.animateNumber.min.js"></script>
    <script src="~/wwwroot/Client/js/bootstrap-datepicker.js"></script>
    <script src="~/wwwroot/Client/js/scrollax.min.js"></script>
    @*<script src="~/wwwroot/Client/js/google-map.js"></script>*@
    <script src="~/wwwroot/Client/js/main.js"></script>
}
<body class="goto-here">
    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-12 d-flex ftco-animate">
                                <div class="blog-entry align-self-stretch d-md-flex">
                                    @{
                                        string imgPath = "~/wwwroot/Client/images/" + item.Anh;
                                    }
                                    <div class="block-20" style="background-image: url(@Url.Content(imgPath));"></div>
                                    <div class="text d-block pl-md-4">
                                        <div class="meta mb-3">
                                            <div><a href="#">@Html.DisplayFor(model => item.AddTime)</a></div>
                                            <div><a href="#">@Html.DisplayFor(model => item.Username)</a></div>
                                        </div>
                                        <h3 class="heading"><a href="@Url.Action("Details","TinTucs", new { id = item.MaTinTuc })">@Html.DisplayFor(model => item.Title)</a></h3>
                                        <p>@Html.DisplayFor(model => item.TomTat)</p>
                                        <p><a href="@Url.Action("Details","TinTucs", new { id = item.MaTinTuc })" class="btn btn-primary py-2 px-3">Read more</a></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                    <div class="sidebar-box">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <button style="height:100%; width:50px;border:0.5px solid lightgrey" class="icon ion-ios-search"></button>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading">Tin tức mới</h3>
                        @foreach (var item in Model)
                        {
                            DateTime s = (DateTime)item.AddTime;
                            if (DateTime.Now.DayOfYear - s.DayOfYear < 7)
                            {
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            @{
                                string imgPath = "~/wwwroot/Client/images/" + item.Anh;
                            }
                            <div class="block-20" style="background-image: url(@Url.Content(imgPath));"></div>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a href="#">@Html.DisplayFor(model => item.AddTime)</a></div>
                                    <div><a href="#">@Html.DisplayFor(model => item.Username)</a></div>
                                </div>
                                <h3 class="heading"><a href="@Url.Action("Details","TinTucs", new { id = item.MaTinTuc })">@Html.DisplayFor(model => item.Title)</a></h3>
                                <p>@Html.DisplayFor(model => item.TomTat)</p>
                                <p><a href="@Url.Action("Details","TinTucs", new { id = item.MaTinTuc })" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>
</body> 