@model PagedList.IPagedList<Nhom15.Models.TinTuc>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Danh sách tin tức
</h4>
<div class="col-md-1" style="margin-bottom: 15px;">
    <a class="btn btn-success" href="/Admin/TinTucs/Create" role="button"><i class="fas fa-plus-square"></i> Thêm</a>
</div>
<div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">Mã tin tức</th>
                    <th class="px-4 py-3">
                        @Html.ActionLink("Tiêu đề", "Index", new { sortOrder = ViewBag.SaptheoTen })
                    </th>
                    <th class="px-4 py-3">Người tạo</th>
                    <th class="px-4 py-3">
                        @Html.ActionLink("Ngày tạo", "Index", new { sortOrder = ViewBag.SaptheoNgay })
                    </th>
                    <th class="px-4 py-3">Thao tác</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                @foreach (var item in Model)
                {
                <tr class="text-gray-700 dark:text-gray-400">
                    <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                            <div>
                                <p class="font-semibold">@Html.DisplayFor(model => item.MaTinTuc)</p>
                            </div>
                        </div>
                    </td>
                    <td class="px-4 py-3 text-sm">
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td class="px-4 py-3 text-sm">
                        @Html.DisplayFor(model => item.TaiKhoanAdmin.Username)
                    </td>
                    <td class="px-4 py-3 text-sm">
                        @Html.DisplayFor(model => item.AddTime)
                    </td>
                    <td class="px-4 py-3 text-xs">
                        <a class="btn btn-primary" href="/Admin/TinTucs/Edit/@item.MaTinTuc.Trim()" role="button"><i class="fas fa-pen-square"></i> Sửa</a>
                        <a class="btn btn-danger" href="/Admin/TinTucs/Delete/@item.MaTinTuc.Trim()" role="button"><i class="fas fa-trash-alt"></i> Xóa</a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div style="margin-top: 15px;">
    @Html.PagedListPager(
    Model, page => Url.Action("Index", new { page }),
    new PagedListRenderOptions()
    {
    LiElementClasses = new List<string> { "btn", "btn-warning" }
    })
</div>